@media (min-width:48rem) {
    .card-component{
        @include flexCenter();
        max-width: 45.625rem;
        max-height: 17.5rem;
    .hero {
        width: 17.875rem;
        line-height: 0;
        img{
            width: 17.875rem;
        }
        
    }
    }
}