html {
  box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $principal-font;
  font-size: 0.8125rem;
  line-height: 1.5;
  background-color: $bg-color;
  color:$text-color;
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  width: 100%;
}
